@body-bg:               #eee;
@text-color:            @gray-light;

@font-family-sans-serif:  "Montserrat", Helvetica, Arial, sans-serif;
@font-size-base:          20px;
@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@headings-font-weight:    bold;

@navbar-height:           70px;
@navbar-default-bg:	#2f454b;
@navbar-default-link-color: #fff;
@navbar-default-link-active-color: #2f454b;
@navbar-default-link-active-bg: #abba68;

@btn-default-color:              @gray-dark;
@btn-default-bg:                 #ff9d2e; 
@btn-default-border:             #ff9d2e;


body{
	padding-top: 70px;
}

.logo{
	font-family: 'Courgette', cursive;	
	font-size: 35px;
	padding: 0px;
	margin-top:-10px;
}

p {
	font-family: "Lato";

}

header h1{
	color:@gray-dark;
}

main h4{
	color: #2f454b;
}

main h3{
	color: #2f454b;
}

#bs-example-navbar-collapse-1 ul li a{
	font-size: 15px;
}

#proyecto ul{
	list-style: none;
	padding-left: 0px;

}


#proyecto a{
	padding:20px;
	font-size: 20px;
}

#proyecto li{
	font-family: "Lato";
	font-size: 20px;
}

.panel-body a{
	padding:20px;
	font-size: 20px;
}

.enlace {
	color: @gray-light;
	font-size: 15px;
}

#button {
	padding: 20px;
	font-size: 20px;
}

.separacion {
	padding-top: 80px;

}

.separacion2 {
	padding-top: 40px;

}

.listado {
	padding-left: 40px;
	margin-bottom: 10px;
	float: left;
	clear: both;
}


.fuente {
	font-family: "Lato";

}

.verde{
	color: #abba68; 
}

.servicios{
	position: absolute;
	display: block;
	text-align: center;
}

#textarea textarea {
	height: 155px;
}

#linea {
	width: 100%;
	height: 2px;
	background-color: #abba68;
	margin-bottom: 20px;
}

footer {
	padding:20px;
}



.social-icons{
	background: url("../img/iconos/footer.png") no-repeat; list-style: none; float: right; margin-left: 12px;
}

.twitter{width: 50px; height: 50px; background-position: 0 0;}
.linkedin{width: 50px; height: 50px; background-position: 0 -50px;}
.wordpress{width: 50px; height: 50px; background-position: 0 -100px;}
.issuu{width: 50px; height: 50px; background-position: 0 -150px;}

.service-icons{
	background: url("../img/iconos/service-icons.png") no-repeat;
}

.grafico{width: 200px; height: 200px; background-position: 0 0;}
.web{width: 200px; height: 200px; background-position: 0 -200px;}
.foto{width: 200px; height: 200px; background-position: 0 -400px;}

.home-icons{
	background: url("../img/iconos/home-icons.png") no-repeat;
}

.soy{width: 50px; height: 50px; background-position: 0 0;}
.portfolio{width: 50px; height: 50px; background-position: 0 -50px;}
.contacto{width: 50px; height: 50px; background-position: 0 -100px;}

.programas-icons{
	background: url("../img/iconos/programas-icons.png") no-repeat;

}

.illustrator{width: 30px; height: 30px; background-position: 0 0;}
.photoshop{width: 30px; height: 31px; background-position: 0 -30px; display: block;}
.indesign{width: 30px; height: 30px; background-position: 0 -61px;}
.lightroom{width: 30px; height: 30px; background-position: 0 -91px;}