@body-bg:               #ccc;
@text-color:            #000;

@font-family-sans-serif:  "Montserrat", Helvetica, Arial, sans-serif;
@font-size-base:          20px;
@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@headings-font-weight:    bold;

@navbar-height:           100px;


header {
	padding-top: 120px;
}

#myCarousel {
	padding-top: 120px;
}

p {
	font-family: "Lato";

}

.subt {
	font-size: 25px;
}

#bs-example-navbar-collapse-1 ul li a{
	font-size: 15px;
}

.separacion {
	padding-top: 50px;

}